@model Thoujour.Models.Comment

<form class="row" asp-action="AddComment" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ThoughtId" />
    <div class="col-6">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Text" class="control-label"></label>
        <textarea asp-for="Text" class="form-control"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="col-2">
        <input type="submit" value="Comment" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
