@model Thoujour.Models.Block

<h4>Add Block</h4>
<hr />
<div class="row">
    <div class="col-auto">
        <form asp-action="AddBlock" class="row" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="ThoughtId" />
            <div class="col-6">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="B64Img" class="form-label">Picture</label>
                <input type="file" asp-for="B64Img" accept="image/jpeg" class="form-control" />
                <span asp-validation-for="B64Img" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Text" class="form-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
