@model Thoujour.Models.Thought

@{
    ViewData["Title"] = "BlocksEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="overflow-auto overflow-x-hidden">
    <h2>BlocksEdit</h2>

    <h1>@Model.Title</h1>

    <hr />
    <div class="list-group">
        @if (Model.Blocks != null)
            @foreach (Block block in Model.Blocks)
            {
                <div class="list-group-item rounded-2 mb-2">
                    @await Html.PartialAsync("_AddEditBlockPartial", block)
                </div>
            }
    </div>
    <div class="">
        @await Html.PartialAsync("_AddEditBlockPartial", new Block(){ ThoughtId = Model.Id })
    </div>
    <div>
        <a asp-action="Index">Back to Main</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
