@model IEnumerable<Thoujour.Models.Thought>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? id = (int?)ViewData["Id"];
}

<div class="d-flex flex-column align-items-stretch p-2 flex-shrink-0 bg-white rounded-end border border-2" style="width: 300px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-2 fw-semibold">Thoughts</span>
    </a>
    <div class="list-group list-group-flush overflow-auto border-bottom scrollarea">
        @foreach (Thought thought in Model)
        {
            <a href="/Thoughts/Index/@thought.Id" class="list-group-item list-group-item-action py-3 lh-tight @(thought.Id == id ? "active" : "")" @(thought.Id == id ? "aria-current=true" : "")>
                <div><strong class="mb-1">@thought.Title</strong></div>
                <div><small class="mb-1">@thought.Description</small></div>
            </a>
        }
    </div>
</div>
<div class="flex-grow-1 overflow-auto border border-2 rounded-start p-2">
    @await Html.PartialAsync("_ThoughtPartial", Model.Where(t => t.Id == id).FirstOrDefault())
</div>
