html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
    display: flex;
    flex-wrap: nowrap;
    max-height: 85vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

.btn-blue {
    background-color: #0d6efd;
    color: white;
}